trigger: none



pool:
  vmImage: ubuntu-latest

stages:
  - stage: build_job
    jobs:
      - job: npm_install
        steps:
        - task: Npm@1
          displayName: npm_install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'
          
        - task: Npm@1
          displayName: npm_build
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)/build'
            artifact: 'todo_my_deploy'
            publishLocation: 'pipeline'

  - stage: deploy_job
    jobs:
      - job: download_artifacts
        steps:
        - task: DownloadBuildArtifacts@1
          displayName: dowload_artifacts
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'todo_my_deploy'
            downloadPath: '$(System.ArtifactsDirectory)'
            cleanDestinationFolder: true

        - task: CopyFilesOverSSH@0
          displayName: copy_artifatcs
          inputs:
            sshEndpoint: 'devvmc'
            sourceFolder: '$(System.ArtifactsDirectory)'
            contents: '**'
            targetFolder: '/tmp'
            readyTimeout: '20000'

        - task: SSH@0
          displayName: copy to tergate folder
          inputs:
            sshEndpoint: 'devvmc'
            runOptions: 'commands'
            commands: 'sudo cp -r /tmp/* /var/www/html'
            readyTimeout: '20000'