
trigger: none


pool: 
 vmImage: ubuntu-latest



#  name: jumpagent
#  demands:
#    - agent.name -equals jumpvmagent
  

stages:
  - stage: installnpm
    jobs:
      - job: npminstall
        steps:
        - task: Npm@1
          displayName: npm_install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'

        - task: Npm@1
          displayName: npm_build
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'

        - task: PublishPipelineArtifact@1
          displayName: publishartifacts
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)/build'
            artifact: 'todo_build'
            publishLocation: 'pipeline'

  - stage: deploy

    pool: jumpagent

    jobs:
      - job: deploy
        steps:
        - task: DownloadBuildArtifacts@1
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'todo_build'
            downloadPath: '$(System.ArtifactsDirectory)'
            cleanDestinationFolder: true

                  
        - task: SSH@0
          inputs:
            sshEndpoint: 'jumpsvc'
            runOptions: 'commands'
            commands: |
              scp -r $(System.ArtifactsDirectory)/* devopsadmin@10.0.1.4:/tmp
              
              scp -r $(System.ArtifactsDirectory)/* devopsadmin@10.0.1.5:/tmp
            readyTimeout: '20000'

        - task: SSH@0
          inputs:
            sshEndpoint: 'jumpsvc'
            runOptions: 'commands'
            commands: |
               ssh devopsadmin@10.0.1.4 "sudo cp -r /tmp/* /var/www/html"
              
               ssh devopsadmin@10.0.1.5 "sudo cp -r /tmp/* /var/www/html"
            readyTimeout: '600000'
